 ---
const {posts} = Astro.props
console.log(posts);

---

    <a href={posts.url} target="_blank">
        <img src={posts.frontmatter.image.url} alt="">
        <div class="title">
            {posts.frontmatter.title}
        </div>
        <div class="description">
            {posts.frontmatter.description}
        </div>
    </a>

<style>
    a{
        text-decoration: none;
        display: block;
        padding: 10px;
    }
    a img{
        width: 100%;
    }

    a .title{
        font-size: 32px;
    }
</style>