 ---
const {posts} = Astro.props

---
    <a href={posts.url} target="_blank">
        <figure>
            <img src={posts.frontmatter.image.url} alt="">
            <figcaption>
                {posts.frontmatter.title}
            </figcaption>
            <figcaption>
                {posts.frontmatter.description}
            </figcaption>
        </figure>
    </a>

<style>
    a{
        text-decoration: none;
        display: block;
        padding: 10px;
    }
    a figure img{
        width: 400px;
    }

    a figure figcaption{
        color: white;
    }
</style>